@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
.container-fluid {
  justify-content: center;
  align-items: center;
  color: #eee;
  text-align:center;
  /* Overlay */
  background: linear-gradient(68.15deg, #0a0a0a 20.62%, rgb(8, 4, 53) 80.61%);
  background-blend-mode: color;
  border-color: rgb(255, 0, 0);
  border:20px;
  border-style:solid;


}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
h4{
  color: #eee;

}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.btn {
  display: inline;
  font-size: 1.1rem;
  text-transform: uppercase;
  background: #111;
  color: #eee;
  border-radius: 5px;
  transition: background 500ms ease;
  box-shadow: 1px 1px 1px 1px #00a9cf;
  border-color: #00a9cf;
  width: 100%;
  height: 100%;
  font-size: 20px;
}

.btn:hover {
  cursor: pointer;
  background: #00a9cf;
}

.headline {
  font-size: 2.2rem;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  padding-bottom: 50px;
  letter-spacing: 2px;
}

/* Navbar */
#navbar {
  width: 100%;
  background-color: #eee;
  color: #eee;
  height: 80px;
  position: fixed;
  align-items: center;
}

#navbar-container {
  width: 80%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  font-size: 2rem;
}

#navbar-items {
  display: flex;
  list-style: none;
  text-transform: uppercase;
}

#navbar-items li {
  padding: 10px;
}

/* Showcase */
#showcase {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eee;

  /* Overlay */
  background: linear-gradient(68.15deg, #0a0a0a 20.62%, rgb(8, 4, 53) 80.61%);
  background-blend-mode: color;
}

#showcase-container {
  text-align: center;  

}

#showcase-container h2 {
  font-size: 3rem;
}

#showcase-container p {
  font-size: 1.2rem;
  padding: 7px 0;
}

/* Clients */
#clients {
  width: 100%;
  color: #111;
  padding: 10px;
  height:100%;
  justify-content: center;

}

#clients-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  padding: 10px;
  align-items: center;
}

.client {
  display: inline-block;
  width: 80%;
  padding: 10px;
}

/* About */
#features {
  width: 100%;
  background: linear-gradient(68.15deg, #0a0a0a 20.62%, rgb(8, 4, 53) 80.61%);
  color: #eee;
  padding: 50px;
  text-align: center;
}
.cabecalho-imagem {
  height: 130px;
  background-color: transparent;
}
#features-container {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 50px;
}

.feature {
  display: flex;
  flex-direction: column;
  background: #333;
  padding: 20px;
  border-radius: 5px;
}

.feature-title {
  font-size: 1.5rem;
  font-weight: bold;
}

/* Product */
#product {
  width: 100%;
  padding: 50px;
}

#product-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#items {
  width: 650px;
}

#items .item {
  display: flex;
  padding: 10px;
  margin: 15px 0;
  font-size: 1.2rem;
}

/* Inscricao */
.inscricaoform {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  background: linear-gradient(68.15deg, #0a0a0a 20.62%, rgb(8, 4, 53) 80.61%);
  padding: 15px;
  border-radius: 5px;
}

#inscricaoform {
  width: 100%;
  background: linear-gradient(68.15deg, #0a0a0a 20.62%, rgb(8, 4, 53) 80.61%);
  color: #eee;
  padding: 20px;
  align-items: center;
}

#inscricaoform-container {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#inscricaoForm {
  background-color: #fff;
  height:"1800px"
}

/* Gallery */
#gallery {
  width: 90%;
  margin: auto;
  padding: 50px;
}

.redes-container {
  display: grid;
  grid-gap: 30px;
  justify-items: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.gallery-image {
  display: inline-block;
  width: 540px;
  height: 360px;
  border-radius: 5px;
}

/* Footer */
#footer {
  background: #222;
  color: #eee;
  padding: 30px;
  text-align: center;
  width: 100%;
  height: 100%;

}
